.input-year-month-div {
    margin: 10px;
}

.edit-div {
    text-align: right;
    margin: 10px;
}

.edit-div input {
    box-sizing: border-box;
    width: 10%;
}

.schedule-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.schedule-table tbody {
    width: auto;
    margin: 10px;
}

.schedule-table th, td{
    border: solid;
    border-width: 1px;
    border-color: black;
}

.schedule-table-cell-div {
    display: flex;
}

.schedule-text-div {
    width: 70%;
}

.text-edit-button-div {
    width: 30%;
}

.top-row th{
    background-color: lightgreen;
    position: sticky;
    top: 0;
}

.date-column {
    background-color: lightgoldenrodyellow;
    width: 100px;
    position: sticky;
    left: 0;
}

.schedule-table td input {
    width: 100%;
    box-sizing:border-box;
    height: 100%;
    font-size: 100%;
}

.schedule-table td {
    height: 30px;
}